

.Game-tile {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 9rem 9rem 9rem 9rem;
    grid-gap: 10px;
    margin-inline: 18%;
}

.Game-tile-item {
    width: 135px;
    border-radius: 15%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    
    cursor: pointer;
}

.Game-tile-item:hover {
    box-shadow: 0.5em 0.5em 1em 0px rgba(160, 39, 39, 0.5);
    background-color: rgba(160, 39, 39, 0.411);
    color: #ffffff;
}